.PaintingCard{
  min-width: 6%;
  max-width: 6%;
  min-height: 9%;
  max-height: 9%;
  font-size: 14pt;
  
}

img{
  border: 5px solid black;
  min-width: 6%;
  max-width: 6%;
  min-height: 9%;
  max-height: 9%
}

.painting{
  min-width: 6%;
  max-width: 6%;
  min-height: 9%;
  max-height: 9%
}